$mycolor: rgb(29, 4, 68);

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: black;
}

main {
    flex: 2;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    font: 20px "Roboto", sans-serif;
    background: rgba(186, 243, 179, 0.7);
}

p {
    margin: 10px;
    color:$mycolor;
}
.ti{
    font-size: 30px;
text-decoration:dashed ;
text-underline-position:15px ;
padding-top: 30px;
color:rgb(112, 6, 6);

}
.nono{
    font-size: 20px;
   line-height:30px;
    color: rgb(2, 58, 35);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-weight: 800px;
    text-align: left;
    
}

section {
    max-width: 800px;
    margin:  auto;
}


a:hover {
    color: $mycolor;
}