$mycolor: rgb(5, 97, 28);



h1 {
    font-size: 50px ;
    color: $mycolor;
    text-shadow: 2px 2px yellow;
    font-family: 'Courier New', Courier, monospace;
     letter-spacing: 4px;
     padding-top: 25px;
    text-align: center;
}
